{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
		quotes: ["error", "double"],
		arrow-parens: ["error", "as-needed"],
		comma-dangle: ["error", "never"],
		function-paren-newline: off
  }
}
